@model TS.BlogSystem.Core.Interfaces.IPagedList<TS.BlogSystem.Web.Models.PostViewModel>


@for (int i = 0; i < Model.Count(); i++)
{
    @if (i == 0 || i % 3 == 0)
    {
        @:<div class="row">
        }

    <div class="col-sm-4">
        @Html.DisplayFor(p => Model[i], "PostItem")
    </div>

    @if (i % 3 == 2 || i == Model.Count() - 1)
    {
    @:</div>
}
}

<!-- Pagination ver.1-->
<pager pager-model="@Model"></pager>

<!-- Pagination ver.2-->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item  @(Model.HasPreviousPage?"":"disabled")">
        <a class="page-link" asp-action="GetAll" asp-route-page="@(Model.PageIndex-1)">&larr; Older</a>
    </li>
    <li class="page-item @(Model.HasNextPage?"":"disabled")">
        <a class="page-link" asp-action="GetAll" asp-route-page="@(Model.PageIndex+1)">Newer &rarr;</a>
    </li>
</ul>

<a asp-action="GetAll" asp-controller="Category">Back to Categories</a>